*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#wrapper {
  width: 960px;
  /*
  max-width: 1280px;
  min-width: 512px;
  */
  margin: 0 auto;
}

header {
   position:relative;
   height: 8rem;
   background:#d8bfd8;
   box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
 }

  header h1{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    color:#9370db;
  }

nav {
  padding: 1rem 3rem ;
  background: #333;
}

  nav ul{
    display: flex;
    flex-direction: row;
  }

  nav ul li{
    margin-right: 2rem;
  }

  nav ul li a {
    color: white;
  }

main{
  display: flex;
  flex-direction: row;
}

  section{
    padding: 3rem;
    background: #EEE;
  }


#box1{
  width:70%;
  height:80px;
  background-color: lavender;
}

    article{
      min-height: 8rem;
      padding: 1rem;
      margin-bottom: 2rem;
      background: #FFF;
    }

  #box2{
      width:700px;
      height:175px;
      background-color: lavender;
    }

/*
  aside{
    flex: 1;
    padding: 3rem;
    background: #DDD;
  }

  */

  #box3{
    width:500px;
    height:240px;
    background-color: lavender;
  }


footer {
  padding: 2rem 3rem;
  text-align: center;
  background: #333;
  color: white;
}

#box4{
  width:100%;
  height:350px;
  background-color: lavender;
}
